 .login {
    max-width: 100%;
    margin: 0 auto; 
    background-color: lightpink;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    font-size: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
  width: 100%; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px
  }
  
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .link {
    text-align: center;
  }

  .link a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  
  